#first {
          text-align: center; 
          color:bisque;
       }
       #second{
        color: black;
       }
       #third{
        color: blue;
       }
       body {
        background-color: chocolate;
       }
     </style>
