h1 {
    border: yellow  10px  solid ;
    border-radius: 20px ;
    
    outline-style: dashed;
    outline-width: 10px;
    outline-color: blue;
    outline-offset: 5px;
}
/* p {
    border-style: solid;
}
div {

border-style: dotted;
}
span {
    border-style: dashed;
} */

/* * {
    border-style: solid;
} */