<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layouts</title>
</head>
<body>
    <h1>
    <div style="background-color: yellow;">Muna</div>
    <div style="background-color: yellow;">Ilyaas</div>
    <span style="background-color: green;">Abdi</span>
    <span style="background-color: green;">Ali</span>
    <p>Faarax</p>
    </h1>
</body>
</html>